#User Data Directories
.Trash
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Videos
Repos
.electrum
.vscode
.vscode-server

#Game Data/Saves
.wesnoth1.12
.dosbox/c

#Protect self from stupid
.env
.gnupg
.password-store
.ssh

#Command/Repl Histories
.bash_history
.node_repl_history
.zhistory
.histfile
.mysql_history

#NPM Restores
.hyperterm_plugins/node_modules

#Zim
.zim

#logs
.maid/maid.log

#Caches/Tmp/Misc files
.cache
.gem
.ipfs
.npm
.DS_Store
.CFUserTextEncoding
.zcompdump
.zcompcache
.tmp
*.zwc
*.zwc.old
*.swp
hound/

#X Nonsense
.Xauthority
.serverauth.*
.xsession-errors

#Golang
go
.gore/

#Configs
.config
.local
.secret

#DevOops
.aws
.azure
.ansible
.docker

#misc/sort
tmp/
.nuget/
.pdk/
.puppet/