#User Data Directories
.Trash
Applications
Desktop
Documents
Downloads
Games
Library
Movies
Music
Pictures
Public
Videos
Repos
.electrum
.vscode
.vscode-server
.mozilla
.emerald

#Game Data/Saves
.wesnoth1.12
.dosbox/c
.steam
.ultrastardx
.wine/drive_c/

# Runescape
.runelite/
.runescape

#Protect self from stupid
.env
.gnupg
.password-store
.ssh
.pki

#Command/Repl Histories
.bash_history
.cockroachsql_history
.node_repl_history
.zhistory
.histfile
.mysql_history

#NPM Restores
.hyperterm_plugins/node_modules

#Zim
.zim

#logs
.maid/maid.log

#Caches/Tmp/Misc files
.cache
.gem
.ipfs
.npm
.DS_Store
.CFUserTextEncoding
.zcompdump
.zcompcache
.tmp
*.zwc
*.zwc.old
*.swp
hound/
.icons
.qmmp/cache

#X Nonsense
.Xauthority
.serverauth.*
.xsession-errors

#Golang
go
.gore/

#Rust
.rustup
.cargo

#Configs
.config
.local
.secret

#DevOops
.aws
.azure
.ansible
.docker

#misc/sort
tmp/
.nuget/
.pdk/
.puppet/
.dotnet/

# Kodi
# TODO: Preserve some things maybe
.kodi

#Prusa Slicer
.var/app/com.prusa3d.PrusaSlicer/cache/
.var/app/com.prusa3d.PrusaSlicer/config/PrusaSlicer/cache/

#Podman Desktop
.var/app/io.podman_desktop.PodmanDesktop/