#User Data Directories
.Trash
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Repos

#Game Data/Saves
.wesnoth1.12

#Protect self from stupid
.env
.gnupg
.password-store
.ssh

#Command/Repl Histories
.bash_history
.node_repl_history
.zhistory

#NPM Restores
.hyperterm_plugins/node_modules

#Caches/Tmp/Misc files
.cache
.gem
.ipfs
.npm
.DS_Store
.CFUserTextEncoding
